
body {
    font-size: 140%;
    width: 100%;
    font-family: sans-serif;
    background: #daebe8;
    color: #333333;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div {
    padding: 0.5em;
}

h1#pageheading {
    color: #cc6600;
    padding: 0.5em;
}

pre#secret {
    font-family: monospace;
    color: #87bdd8;
    background: #cfe0e8;
    border: 2px solid #b7d7e8;
    margin: 0.5em;
    margin-top: 1em;
    padding: 0.5em;
}
div#contentcontainer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
div#content {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div#main {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 0px;
    padding-right: 0px;
}

h2#mainheading {
    background: #b7d7e8;
    padding: 0.5em;
    padding-left: 26%;
    color: #549aa5;
}


table#info {
   border-collapse: collapse; 
}

table#info th {
    padding: 0.5em;
    background: #e0e0e0;
}

table#info td {
    padding: 0.5em;
    background: white;
}

h2#errorheading {
    padding-left: 26%;
}
p#errormessage {}

div#footer {
    color: #87bdd8;
    font-size: 80%;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 1em;
    font-style: italic;
    border-top: 1px solid #98cee8;
}

#footer a {
    color: inherit;
    text-decoration: none;
}
