{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>gjfy{{.}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
<div class="gjfy-container">
<img src="logo.png" alt="logo" class="gjfy-logo">
<div id="content">
{{end}}
