{{define "error"}}
{{template "header" " - Error"}}
<h2 id="errorheading">Not available</h2>
<div id="main">
<p id="errormessage">This ID is not valid anymore. Please request another one from the person who sent you this link.</p>
</div>
{{template "footer"}}
{{end}}
