{{define "footer"}}
</div>
	<div id="footer">
	<p><a href="https://github.com/sstark/gjfy"><img src="gjfy-logo-small.png" alt="gjfy-logo" class="gjfy-footer-logo-small"></a>
	</p>
	</div>
	<!--div id="footer">
	<p>This <a href="https://github.com/sstark/gjfy"><img src="gjfy-logo-small.png" alt="gjfy-logo" class="gjfy-footer-logo-small"></a> secret was created by
		<a href="mailto:{{.AuthToken}}">{{.AuthToken}} </a>
	</p>
	</div-->
</body>
</html>
{{end}}
